<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>401570727697-nqsdbosph3h6jrhv2m72hqfe7qkej0dl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.401570727697-nqsdbosph3h6jrhv2m72hqfe7qkej0dl</string>
	<key>API_KEY</key>
	<string>AIzaSyCiJYufh_YnDidQ0qD7cd4t_3w3tJM7xfM</string>
	<key>GCM_SENDER_ID</key>
	<string>401570727697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsappdevelopment.fiveLevelOne</string>
	<key>PROJECT_ID</key>
	<string>five-level</string>
	<key>STORAGE_BUCKET</key>
	<string>five-level.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:401570727697:ios:bf8eef8a8f257309552eb0</string>
	<key>DATABASE_URL</key>
	<string>https://five-level.firebaseio.com</string>
</dict>
</plist>